* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    background:#e5e9e8;
    margin: 0;
}
p {
    margin: 0;
}
.icon {
    height: auto;
    width: 32px;
}

.sidebar .icon {
    filter: brightness(100);
}
#bell-icon {
    filter: brightness(0);
}

.icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.user-picture {
    height: 48px;
    width: 48px;
    border-radius: 24px;
}
.profile-picture {
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

.container {
    display: grid;
    grid-template-columns: 240px 320px 1fr 260px;
    grid-template-rows: 60px 80px 1fr 1fr;
}

.header {
    grid-column: 2/5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 32px;
    background-color: white;
}
.header > .username {
    font-weight: bold;
    font-size: 18px;
}
.welcome-message > p:last-child {
    font-size: 20px;
    font-weight: bold;
}

.welcome-message {
    margin-right: auto;
}
.hero {
    background-color: white;
    display: flex;
    grid-column: 2/5;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px;
    box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 0.363); 
}
#search-bar {
    background:#ced1d0;
    height: 1.5rem;
    display: flex;
    flex: 0.8;
    border-radius: 1.5rem;
    border-style: none;
    margin-right: auto;
}
#search-bar:focus {
    outline-color:#064e3b;
}
.sidebar {
    background:#064e3b;
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 300px 150px;
    padding: 12px;
    gap:18px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.menu,
.menu-settings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.dashboard,
.menu > div,
.menu-settings > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: 16px;
    gap: 12px;
    align-items: center;
}
.menu > div:hover,
.menu-settings > div:hover {
    cursor: pointer;
    transform: scale(1.1);

}
.dashboard {
    font-weight: bold;
    font-size: 22px;
    align-self: start;
    margin-left: 8px;
}

.project-container {
    padding: 24px;
    grid-column: 2/4;
    grid-row: 3/5;
    display: grid;
    grid-template-rows: 36px 1fr 36px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:24px;
}
.card {
    display: grid;
    background-color:white;
    border-radius: 12px;
    padding: 32px 18px 18px 32px;
    box-shadow: 1px 3px 10px 3px rgba(128, 128, 128, 0.363);
    border-left-style: solid;
    border-left-width: 18px;
    border-color:#d4af37;
    gap: 12px;
    color: rgb(61, 60, 60);
}
.card:hover { 
    box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.363);
}
.card > :first-child {
    font-weight: bolder;
    font-size: 22px;
    color: black;
}
.card > div {
    justify-self: end;
}
.card-buttons {
    display: flex;
    gap: 12px;
}


.announcement-container {
    display: grid;
    grid-template-rows: 36px min-content 36px;
    padding: 12px;
    grid-column: 4/5;
    grid-row: 3/4;
}
.announcement-list {
    display: grid;
    background-color:white;
    border-radius: 8px;
    box-shadow: 1px 3px 10px 3px rgba(128, 128, 128, 0.363);
}
.announcement {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
    margin-left: 12px;
    margin-right:  12px;
    border-bottom: 1px solid grey;
}
.announcement > :first-child {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 6px;
    padding-top: 12px;
}
.announcement > :nth-child(2) {
    margin-bottom: 12px;

}
.announcement:nth-child(3){
    border-bottom: none;
    margin-bottom: 12px;
}

.trending-container {
    display: grid;
    grid-template-rows: 36px min-content 36px;
    padding: 12px;
    grid-column: 4/5;
    grid-row: 4/5;
}
.project-container > p,
.trending-container > p,
.announcement-container > p {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 3px 10px 3px rgba(128, 128, 128, 0.363);
    padding: 24px 12px 24px 12px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2,20px);
    padding: 12px;
}
.user-name {
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold;
    padding-left: 12px;
    font-size: 15px;
}
.user-info {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 12px;
    font-size: 15px;
}

button {
    border-style: none;
    background-color:#064e3b;
    border-radius: 12px;
    padding: 12px 24px 12px 24px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
button:hover {
    color:#d4af37;
    transform: scale(1.05);
    cursor: pointer;
}





