* {
    box-sizing: border-box;
}

.icon {
    height: 32px;
    width: 32px;
}
.user-picture {
    height: 64px;
    width: 64px;
    border-radius: 32px;
}
.profile-picture {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}